
@media(max-width: 640px)
{
    #navigationList{
        /* visibility: hidden !important; */
        display: none;   
        
    }
    #small-screen-dropdown{
        visibility: visible;
    }
}   

@media(min-width 639px)
{
    #navigationList{
        visibility: visible !important;
    }  
    
    #small-screen-dropdown{
        /* visibility: hidden; */
        display: none;   
    }
} 